In [61]:
from chart import load_data

import numpy as np
import pandas as pd

from sklearn.linear_model import LinearRegression

In [4]:
basins = load_data.load_basins()
chla = load_data.load_ocean_chla()
tsm = load_data.load_ocean_tsm()
mouths = load_data.load_wbm_water_rivermouths()
basins = load_data.load_wbm_water_riverbasins()
sed = load_data.load_wbm_sed_rivermouths()

In [3]:
basins.head()

,Unnamed: 0,ID,Name,SymbolFLD,BasinOrder,Color,BasinLength,BasinArea,name,ocean,sea,region_col,sea_col,ocean_col,sea_code,ocean_code,XCoord,YCoord,CellID
0,0,1,GHAASBasin1,Default Symbol,9,7,2808.946045,1.599524e+06,Bay of Bengal,Indian Ocean,Bay of Bengal,3,4,2,18,3,91.258331,22.441668,1
1,1,2,GHAASBasin2,Default Symbol,9,7,4663.588867,7.802183e+05,South China Sea,Pacific Ocean,South China Sea,4,2,3,76,4,106.308334,9.458333,523199
2,2,3,GHAASBasin3,Default Symbol,9,8,2191.638184,4.009243e+05,Andaman Sea,Indian Ocean,Andaman Sea,2,3,2,5,3,94.308334,15.891666,764403
3,3,4,GHAASBasin4,Default Symbol,8,7,1423.140259,3.125153e+05,Bay of Bengal,Indian Ocean,Bay of Bengal,3,4,2,18,3,82.408333,16.741667,891582
4,4,5,GHAASBasin5,Default Symbol,8,9,3102.152100,2.824402e+05,Gulf of Martaban,Indian Ocean,Andaman Sea,3,3,2,5,3,97.375000,16.424999,988145

In [3]:
chla.head()

,Basin,Month Composite,25_Percentile_Chla (mg/m3),50_Percentile_Chla (mg/m3),75_Percentile_Chla (mg/m3),Number of Pixels,Number Pixels >5 mg/m3,Number Pixels >10 mg/m3,Number Pixels >15 mg/m3
0,1,2003-01,5.642872,7.118814,9.176421,1210,983,214,72
1,1,2003-02,4.345983,5.383967,7.610285,1206,695,204,89
2,1,2003-03,5.220159,8.166882,12.720181,1232,955,481,190
3,1,2003-04,4.869296,7.782620,14.692077,1228,904,524,288
4,1,2003-05,6.311267,12.985915,18.757741,1217,974,747,504

In [4]:
tsm.head()

,Basin,Month Composite,25_Percentile_TSM (g/m3),50_Percentile_TSM (g/m3),75_Percentile_TSM (g/m3),Number of Pixels,Number Pixels >10 g/m3,Number Pixels >20 g/m3,Number Pixels >30 g/m3
0,1,2003-01,11.779470,17.005153,21.455141,1215,980,392,14
1,1,2003-02,8.245428,12.113092,16.918499,1226,747,145,3
2,1,2003-03,8.299062,13.351702,17.089070,1234,858,91,2
3,1,2003-04,8.207038,13.992479,19.550757,1231,854,276,3
4,1,2003-05,7.594827,14.521719,19.112233,1218,810,244,4

In [5]:
mouths.head()

,Unnamed: 0,SampleID,Date,ReservoirStorageChange,ReservoirExtractableRelease,AccumBalance,ReservoirStorage,RiverDischarge,RiverWidth,ReservoirRelease,RiverDepth
0,0,1,2001-01,0.0,1062.381680,-4494.948880,0.0,7296.132214,266.510832,7296.132214,6.492485
1,1,2,2001-01,0.0,1865.896317,-608.919175,0.0,11196.190115,291.450642,11196.190115,10.027056
2,2,3,2001-01,0.0,10.497185,-266.732428,0.0,1119.872968,130.076668,1119.872968,2.343535
3,3,4,2001-01,0.0,14.742862,-706.786387,0.0,167.839568,54.260290,167.839568,0.986155
4,4,5,2001-01,0.0,22.132409,-13.804738,0.0,338.329019,78.546923,338.329019,1.366209

In [5]:
sed.head()

,Unnamed: 0,SampleID,Date,SedimentFlux,ReservoirStorageChange,BedloadFlux,ReservoirExtractableRelease,ReservoirStorage,RiverDischarge,RiverWidth,ReservoirRelease,RiverDepth
0,0,1,2001-01,0.214035,0.0,267683.519657,1062.381680,0.0,7296.132214,1375.759502,7296.132214,172.808118
1,1,2,2001-01,0.104187,0.0,432020.436492,1865.896317,0.0,11196.190115,1302.800773,11196.190115,200.353251
2,2,3,2001-01,0.017471,0.0,44505.250378,10.497185,0.0,1119.872968,1261.122499,1119.872968,218.838691
3,3,4,2001-01,0.027604,0.0,4525.845231,14.742862,0.0,167.839568,1061.186925,167.839568,349.624301
4,4,5,2001-01,0.004314,0.0,9823.807743,22.132409,0.0,338.329019,1143.465486,338.329019,285.478975

In [6]:
basins.head()

,Unnamed: 0,SampleID,Date,GroundWaterZonalMean,IrrSoilMoistureZonalMean,WaterBalanceZonalMean,IrrUptakeExternalZonalMean,IrrEvapotranspirationZonalMean,IrrUptakeExcessZonalMean,IrrUptakeRiverZonalMean,...,AirTemperatureZonalMax,IrrNetWaterDemandZonalMax,RainPETZonalMax,GroundWaterZonalMax,IrrUptakeGroundWaterZonalMax,SnowPackZonalMax,IrrSoilMoistureZonalMax,IrrRunoffZonalMax,IrrUptakeExternalZonalMax,PrecipitationZonalMax
0,0,1,2001-01,0.414282,1.644985,-0.094523,0.221315,0.284991,0.072740,0.148292,...,28.811214,5.038597,4.169163,65.151581,5.755565,8260.586914,29.604937,15.860016,3.387677,61.905056
1,1,2,2001-01,1.547850,0.380402,-0.002751,0.027440,0.043537,0.003505,0.029110,...,32.029789,5.334957,5.256650,33.989605,4.645149,6969.098145,33.632217,0.810153,2.972546,9.006075
2,2,3,2001-01,1.949444,0.498919,-0.006821,0.056651,0.074451,0.004284,0.050659,...,31.034328,2.518287,4.930191,17.392427,2.283103,7539.259277,11.817570,0.030786,1.830295,3.561694
3,3,4,2001-01,0.193427,0.717706,-0.063636,0.180563,0.214305,0.048455,0.132989,...,29.292223,4.719038,4.423933,12.743459,6.465920,0.000000,15.011121,4.549615,3.388880,16.049252
4,4,5,2001-01,1.268959,0.126476,-0.000975,0.003265,0.013234,0.000001,0.003248,...,31.722105,1.570177,5.118116,10.492545,2.059856,7818.457520,6.028370,0.175303,1.082392,4.938530

In [28]:
data = pd.concat([mouths, sed, basins])
data = data.rename({'SampleID': 'Basin', 'Date': 'Month Composite'}, axis=1).drop('Unnamed: 0', axis=1)
data.head()

,Basin,Month Composite,ReservoirStorageChange,ReservoirExtractableRelease,AccumBalance,ReservoirStorage,RiverDischarge,RiverWidth,ReservoirRelease,RiverDepth,...,AirTemperatureZonalMax,IrrNetWaterDemandZonalMax,RainPETZonalMax,GroundWaterZonalMax,IrrUptakeGroundWaterZonalMax,SnowPackZonalMax,IrrSoilMoistureZonalMax,IrrRunoffZonalMax,IrrUptakeExternalZonalMax,PrecipitationZonalMax
0,1,2001-01,0.0,1062.381680,-4494.948880,0.0,7296.132214,266.510832,7296.132214,6.492485,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,2001-01,0.0,1865.896317,-608.919175,0.0,11196.190115,291.450642,11196.190115,10.027056,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,2001-01,0.0,10.497185,-266.732428,0.0,1119.872968,130.076668,1119.872968,2.343535,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,2001-01,0.0,14.742862,-706.786387,0.0,167.839568,54.260290,167.839568,0.986155,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,2001-01,0.0,22.132409,-13.804738,0.0,338.329019,78.546923,338.329019,1.366209,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [48]:
data.shape

(1964448, 69)

In [29]:
data.columns

Index(['Basin', 'Month Composite', 'ReservoirStorageChange',
       'ReservoirExtractableRelease', 'AccumBalance', 'ReservoirStorage',
       'RiverDischarge', 'RiverWidth', 'ReservoirRelease', 'RiverDepth',
       'SedimentFlux', 'BedloadFlux', 'GroundWaterZonalMean',
       'IrrSoilMoistureZonalMean', 'WaterBalanceZonalMean',
       'IrrUptakeExternalZonalMean', 'IrrEvapotranspirationZonalMean',
       'IrrUptakeExcessZonalMean', 'IrrUptakeRiverZonalMean',
       'IrrNetWaterDemandZonalMean', 'EvapotranspirationZonalMean',
       'IrrUptakeGroundWaterZonalMean', 'SoilMoistureZonalMean',
       'IrrGrossDemandZonalMean', 'RainPETZonalMean', 'SnowPackZonalMean',
       'AirTemperatureZonalMean', 'RelativeSoilMoistureZonalMean',
       'IrrRunoffZonalMean', 'PrecipitationZonalMean', 'RunoffZonalMean',
       'GroundWaterZonalMin', 'IrrGrossDemandZonalMin',
       'IrrUptakeExcessZonalMin', 'SoilMoistureZonalMin',
       'IrrUptakeGroundWaterZonalMin', 'IrrUptakeRiverZonalMin',
       'RunoffZonalMin', 'WaterBalanceZonalMin',
       'IrrEvapotranspirationZonalMin', 'AirTemperatureZonalMin',
       'PrecipitationZonalMin', 'IrrUptakeExternalZonalMin',
       'IrrSoilMoistureZonalMin', 'IrrNetWaterDemandZonalMin',
       'RelativeSoilMoistureZonalMin', 'SnowPackZonalMin', 'IrrRunoffZonalMin',
       'EvapotranspirationZonalMin', 'RainPETZonalMin',
       'RelativeSoilMoistureZonalMax', 'SoilMoistureZonalMax',
       'IrrGrossDemandZonalMax', 'IrrUptakeRiverZonalMax',
       'IrrEvapotranspirationZonalMax', 'EvapotranspirationZonalMax',
       'IrrUptakeExcessZonalMax', 'WaterBalanceZonalMax', 'RunoffZonalMax',
       'AirTemperatureZonalMax', 'IrrNetWaterDemandZonalMax',
       'RainPETZonalMax', 'GroundWaterZonalMax',
       'IrrUptakeGroundWaterZonalMax', 'SnowPackZonalMax',
       'IrrSoilMoistureZonalMax', 'IrrRunoffZonalMax',
       'IrrUptakeExternalZonalMax', 'PrecipitationZonalMax'],
      dtype='object')

# Time-averaged model

In [67]:
target = '50_Percentile_TSM (g/m3)'

In [69]:
Xy = pd.merge(left=tsm[['Basin', 'Month Composite', target]], right=data, on=['Basin', 'Month Composite'], how='left')
display(Xy.head())
print(Xy.shape)

,Basin,Month Composite,50_Percentile_TSM (g/m3),ReservoirStorageChange,ReservoirExtractableRelease,AccumBalance,ReservoirStorage,RiverDischarge,RiverWidth,ReservoirRelease,...,AirTemperatureZonalMax,IrrNetWaterDemandZonalMax,RainPETZonalMax,GroundWaterZonalMax,IrrUptakeGroundWaterZonalMax,SnowPackZonalMax,IrrSoilMoistureZonalMax,IrrRunoffZonalMax,IrrUptakeExternalZonalMax,PrecipitationZonalMax
0,1,2003-01,17.005153,0.0,1590.916953,-4691.322049,0.0,7534.644311,269.593281,7534.644311,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,2003-01,17.005153,0.0,1590.916953,NaN,0.0,7534.644311,1375.566879,7534.644311,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1,2003-01,17.005153,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,26.672476,4.722703,3.771651,144.331177,7.802917,9925.237305,31.566925,31.848217,3.673558,79.730484
3,1,2003-02,12.113092,0.0,370.181017,-4944.382028,0.0,6844.010289,260.577091,6844.010289,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1,2003-02,12.113092,0.0,370.181017,NaN,0.0,6844.010289,1374.574977,6844.010289,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

(12240, 70)

In [41]:
Xy.drop('Month Composite', axis=1).groupby('Basin').mean()

,50_Percentile_Chla (mg/m3),ReservoirStorageChange,ReservoirExtractableRelease,AccumBalance,ReservoirStorage,RiverDischarge,RiverWidth,ReservoirRelease,RiverDepth,SedimentFlux,...,AirTemperatureZonalMax,IrrNetWaterDemandZonalMax,RainPETZonalMax,GroundWaterZonalMax,IrrUptakeGroundWaterZonalMax,SnowPackZonalMax,IrrSoilMoistureZonalMax,IrrRunoffZonalMax,IrrUptakeExternalZonalMax,PrecipitationZonalMax
Basin,,,,,,,,,,,,,,,,,,,,,
1,9.724092,0.0,445.430538,-7576.846027,0.0,20954.300083,862.913849,20954.300083,92.551501,0.573336,...,33.875832,7.273013,6.537950,509.952103,12.719101,17259.579039,28.976486,23.918140,5.863557,87.735765
2,1.172168,0.0,1285.649332,-1036.600802,0.0,12398.072319,791.710741,12398.072319,107.414526,0.113371,...,32.702050,5.090927,5.878426,236.192630,5.274602,14513.806684,32.987244,8.089524,2.451853,46.240108
3,0.409090,0.0,66.078732,-592.059558,0.0,10113.219542,737.647515,10113.219542,115.704023,0.070149,...,32.433840,2.355384,5.896189,266.571011,2.910059,15406.518081,10.991448,6.438357,1.481036,51.078310
4,0.383436,0.0,36.654573,-992.847190,0.0,3890.014407,608.156416,3890.014407,166.882500,0.161555,...,33.018335,5.427740,6.164530,209.940336,9.592709,0.000828,15.372661,14.293985,3.869607,43.497936
5,7.686993,0.0,8.897445,-96.043636,0.0,4732.168939,644.532972,4732.168939,147.475154,0.042929,...,32.956016,1.887122,6.017990,295.023606,3.342628,15321.761451,5.767388,4.222870,0.875236,38.344556
6,0.359393,0.0,2.897214,-1124.088055,0.0,1141.898621,551.570440,1141.899010,204.978290,0.102907,...,33.414651,4.819919,6.204569,452.763166,9.984976,0.001108,12.492559,10.092560,4.234242,58.482358
7,1.297146,0.0,12.889843,-597.249306,0.0,438.028129,474.359885,439.173573,277.826303,0.013135,...,32.336711,5.959678,5.783531,64.619436,5.459341,0.169664,32.729402,4.944730,3.334140,17.391913
8,0.581688,0.0,146.523639,-538.928218,0.0,1944.681522,578.426478,1944.681522,187.666306,0.091526,...,32.272387,6.198421,5.983655,111.362467,8.943413,0.000000,20.542907,14.915466,3.673063,37.462908
9,0.287625,0.0,9.046667,-369.304306,0.0,409.764679,477.358915,409.774686,277.371742,288.961085,...,33.117535,5.091188,5.986661,330.735868,8.644183,0.002507,15.945022,9.426212,3.629867,51.108967
10,4.004538,0.0,6.468809,-428.220282,0.0,769.966264,484.386600,770.261405,268.208907,0.046388,...,31.343902,7.087490,5.659451,88.941807,8.129814,0.000000,32.386499,11.080454,3.435587,27.331617
11,0.315533,0.0,4.956423,-146.869442,0.0,42.973447,356.863320,42.973447,553.374694,0.011800,...,33.553303,2.460740,6.216136,63.242931,5.370969,0.003066,2.842298,4.265337,2.092539,22.835425
12,1.171469,0.0,4.017524,-140.141091,0.0,931.324934,495.433678,931.324934,252.975611,0.013385,...,31.547611,6.053076,5.725865,128.644060,7.117667,0.000000,25.957906,12.869877,2.566485,35.839664
13,1.317729,0.0,22.540663,-131.249048,0.0,954.619868,518.505868,954.619868,235.700200,0.040887,...,30.518648,3.802140,5.185041,142.923722,3.500978,0.000000,25.618319,3.543056,1.746593,25.799230
14,9.584186,0.0,3.423606,-48.833572,0.0,1185.763854,516.350733,1185.763854,233.629091,0.017407,...,31.337868,0.758487,5.493938,268.773039,0.743463,0.000000,3.502521,1.627834,0.379989,35.333625
15,0.434656,0.0,0.000000,-1.685644,0.0,1919.560913,544.214951,1919.560913,203.750650,0.010838,...,29.584941,0.135947,5.017030,266.582756,0.164322,0.088230,0.812176,0.568485,0.034514,38.344260
16,1.300657,0.0,9.859881,-44.511463,0.0,297.417746,441.774859,297.417746,338.851996,0.006409,...,31.327935,5.009740,5.424599,150.873120,4.968003,0.000000,25.455096,2.659414,2.868023,21.519609
17,1.083182,0.0,0.142447,-131.655917,0.0,205.134815,387.940810,205.134815,454.601646,0.004042,...,31.241363,5.061626,5.388314,59.920415,5.107130,0.000000,29.101398,4.008099,2.818285,12.941233
18,0.768122,0.0,0.000000,-0.469808,0.0,782.368903,481.754094,782.368903,271.826157,0.005961,...,30.435133,0.104955,5.160231,262.403992,0.179294,0.000000,0.379920,0.238591,0.015521,33.999669
19,3.410890,0.0,1.796083,-29.126731,0.0,241.146933,411.568034,241.147014,394.604874,0.016176,...,31.176116,3.805371,5.601389,87.389808,4.073468,0.000000,17.904529,5.183797,1.580929,26.707233
20,4.114224,0.0,0.000000,-141.553660,0.0,431.779956,445.122377,431.779956,325.809800,0.024158,...,29.778732,3.434673,5.164498,106.002320,4.527114,0.000000,18.889978,7.898348,1.771687,28.330930

In [47]:
np.unique(Xy['Basin'])

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19, 20])

In [71]:
y = Xy[['Basin',target]].groupby('Basin').mean()
y.head()

       50_Percentile_TSM (g/m3)
Basin
1                     17.117219
2                      2.801472
3                      1.882336
4                      1.853198
5                     16.680147

In [72]:
X = Xy.drop(['Month Composite', target], axis=1).groupby('Basin').mean()
print(X.columns)
X = X[['RiverDischarge', 'ReservoirRelease', 'SedimentFlux', 'PrecipitationZonalMean']]
X.head()

Index(['ReservoirStorageChange', 'ReservoirExtractableRelease', 'AccumBalance',
       'ReservoirStorage', 'RiverDischarge', 'RiverWidth', 'ReservoirRelease',
       'RiverDepth', 'SedimentFlux', 'BedloadFlux', 'GroundWaterZonalMean',
       'IrrSoilMoistureZonalMean', 'WaterBalanceZonalMean',
       'IrrUptakeExternalZonalMean', 'IrrEvapotranspirationZonalMean',
       'IrrUptakeExcessZonalMean', 'IrrUptakeRiverZonalMean',
       'IrrNetWaterDemandZonalMean', 'EvapotranspirationZonalMean',
       'IrrUptakeGroundWaterZonalMean', 'SoilMoistureZonalMean',
       'IrrGrossDemandZonalMean', 'RainPETZonalMean', 'SnowPackZonalMean',
       'AirTemperatureZonalMean', 'RelativeSoilMoistureZonalMean',
       'IrrRunoffZonalMean', 'PrecipitationZonalMean', 'RunoffZonalMean',
       'GroundWaterZonalMin', 'IrrGrossDemandZonalMin',
       'IrrUptakeExcessZonalMin', 'SoilMoistureZonalMin',
       'IrrUptakeGroundWaterZonalMin', 'IrrUptakeRiverZonalMin',
       'RunoffZonalMin', 'WaterBalanceZonalMin',
       'IrrEvapotranspirationZonalMin', 'AirTemperatureZonalMin',
       'PrecipitationZonalMin', 'IrrUptakeExternalZonalMin',
       'IrrSoilMoistureZonalMin', 'IrrNetWaterDemandZonalMin',
       'RelativeSoilMoistureZonalMin', 'SnowPackZonalMin', 'IrrRunoffZonalMin',
       'EvapotranspirationZonalMin', 'RainPETZonalMin',
       'RelativeSoilMoistureZonalMax', 'SoilMoistureZonalMax',
       'IrrGrossDemandZonalMax', 'IrrUptakeRiverZonalMax',
       'IrrEvapotranspirationZonalMax', 'EvapotranspirationZonalMax',
       'IrrUptakeExcessZonalMax', 'WaterBalanceZonalMax', 'RunoffZonalMax',
       'AirTemperatureZonalMax', 'IrrNetWaterDemandZonalMax',
       'RainPETZonalMax', 'GroundWaterZonalMax',
       'IrrUptakeGroundWaterZonalMax', 'SnowPackZonalMax',
       'IrrSoilMoistureZonalMax', 'IrrRunoffZonalMax',
       'IrrUptakeExternalZonalMax', 'PrecipitationZonalMax'],
      dtype='object')

       RiverDischarge  ReservoirRelease  SedimentFlux  PrecipitationZonalMean
Basin
1        20954.300083      20954.300083      0.573336               94.990320
2        12398.072319      12398.072319      0.113371              127.093929
3        10113.219542      10113.219542      0.070149              148.082104
4         3890.014407       3890.014407      0.161555              101.767990
5         4732.168939       4732.168939      0.042929              103.433813

In [73]:
X.shape, y.shape

((20, 4), (20, 1))

In [74]:
lr = LinearRegression()
lr.fit(X, y)

LinearRegression()

In [75]:
ypred = lr.predict(X)

In [76]:
residuals = y - ypred

In [77]:
residuals

       50_Percentile_TSM (g/m3)
Basin
1                      4.973280
2                     -6.199234
3                     -6.342333
4                     -3.722979
5                     10.768425
6                     -2.541068
7                     -0.716787
8                     -2.963320
9                     -0.004534
10                     2.785004
11                    -2.018832
12                    -2.282387
13                    -2.079452
14                    16.967908
15                    -3.588372
16                    -1.949883
17                    -1.869048
18                    -2.907550
19                     1.266245
20                     2.424917

In [78]:
y

       50_Percentile_TSM (g/m3)
Basin
1                     17.117219
2                      2.801472
3                      1.882336
4                      1.853198
5                     16.680147
6                      1.855035
7                      2.423673
8                      1.949684
9                      1.824982
10                     6.907194
11                     1.840079
12                     2.277774
13                     2.677826
14                    21.886324
15                     1.900261
16                     2.407636
17                     2.361854
18                     1.993325
19                     5.495146
20                     6.880646

# Time-series model